.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10%;
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 2rem;
    text-decoration: none;
    font-weight: bold;
    color: #ddd6cb;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }
  
  .logo img {
    object-fit: contain;
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
  }
  
  .nav a {
    text-decoration: none;
    color: #ddd6cb;
    font-weight: bold;
    padding: 0.5rem 1rem;
  }
  
  .nav a:hover {
      color: #ff8a05;
  }